.story {
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba($color-primary, .63), rgba($color-primary, .63)),
    url(../img/sun-pattern.png);
    background-repeat: repeat;
    color: $color-grey-light-1;

    display: grid;
    justify-items: center;
    grid-template-columns: [full-start] minmax(6rem, 1fr)
    [center-start] minmax(min-content, 80vw)
    [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-largest){
        grid-template-columns: [full-start] 2rem
        [center-start] calc(100vw-2rem)
        [center-end] 2rem [full-end];
    }

    @media only screen and (max-width: $bp-sm){
        grid-template-columns: [full-start] 2rem
        [center-start] calc(100vw-2rem)
        [center-end] 2rem [full-end];
    }
}

.story-content {
    display: grid;
    justify-items: center;
    grid-column: center-start / center-end;

    @media only screen and (max-width: $bp-lg){
        margin: 0 4rem;
        grid-column: full-start / full-end;
    }
}
.namecard {
    margin-top: 2rem;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-display;

    &-title {
        color: $color-secondary;

        @media only screen and (max-width: $bp-smaller){
            font-size: 3rem;
        }
    }

}

.intro {
    font-size: 2rem;
    margin: 0 4rem;
    padding-bottom: 4rem;
    
    @media only screen and (max-width: $bp-largest){
        margin: 0 2rem;
    }

    @media only screen and (max-width: $bp-md){
        margin: 0;
    }

    p {
        margin-bottom: 2rem;
        color: $color-grey-dark-2;
    }

    .tagline {
        font-weight: bold;
        color: $color-grey-light-1;
        text-align: center;
    }

    .emphasis {
        font-weight: bold;
    }
}

.social {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;

    a {
        text-decoration: none;
        color: $color-secondary;
        transition: color .2s;
    }

    a:hover,
    a:active {
        color: $color-secondary-light;
    }
}


.social__item {
    display: flex;
    align-items: center;
}

.social__icon {
    margin-left: 2rem;
    height: 3rem;
    width: 3rem;
    fill: $color-secondary;

    @media only screen and (max-width: $bp-sm){
        display: none;
    }
}