@font-face {
    font-family: "Kotori Rose";
    src: url("./fonts/KotoriRose-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Kotori Rose Bold";
    src: url("./fonts/KotoriRose-Bold.otf") format("opentype");
}

a {
    text-decoration: none;
}